{% extends 'base.html' %}
{% load static %}

{% block titulo %}Finanças{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md">
                <div class="input-group mb-3">
                    <label class="input-group-text">Receitas</label>
                    <label class="input-group-text">Descrição</label>
                    <label class="input-group-text">Valor</label>
                    <label class="input-group-text">Data</label>
                </div>
                <div id="revenue_spreadsheet"></div>
                <div class="col-12">
                    <button class="btn btn-light" type="submit" id="new_revenue_button">Novo</button>
                </div>
                <div class="col-12">
                    <button class="btn btn-light" type="submit" id="save_revenue_button" hidden>Salvar</button>
                </div>
            </div>

            <div class="col-md">
                <div class="input-group mb-3">
                    <label class="input-group-text">Despesas</label>
                    <label class="input-group-text">Descrição</label>
                    <label class="input-group-text">Valor</label>
                    <label class="input-group-text">Data</label>
                    <label class="input-group-text">Categoria</label>
                </div>
                <div id="expenditure_spreadsheet"></div>
                <div id="new_expenditure"></div>
                <div class="col-12">
                    <button class="btn btn-light" type="submit" id="new_expenditure_button">Novo</button>
                </div>
                <div class="col-12">
                    <button class="btn btn-light" type="submit" id="save_expenditure_button" hidden>Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/finance.js' %}"></script>

    <script>
        onWindowLoadingFinance()
    </script>
{% endblock %}