{% extends 'finance/base.html' %}
{% load static %}

{% block titulo %}Finanças{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md">
                <div class="input-group mb-3">
                    <label class="input-group-text">Receitas</label>
                    <label class="input-group-text">Descrição</label>
                    <label class="input-group-text">Valor</label>
                    <label class="input-group-text">Data</label>
                </div>
                <div class="input-group mb-3" id="revenues_row">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Ação
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Excluir</a></li>
                    </ul>
                    <input type="text" class="form-control description" aria-label="Text input with dropdown button" id="description">
                    <input type="text" class="form-control value" aria-label="Text input with dropdown button" id="value">
                    <input type="text" class="form-control date" aria-label="Text input with dropdown button" id="date">
                </div>
            </div>

            <div class="col-md">
                <div class="input-group mb-3">
                    <label class="input-group-text">Despesas</label>
                    <label class="input-group-text">Descrição</label>
                    <label class="input-group-text">Valor</label>
                    <label class="input-group-text">Data</label>
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Ação
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Excluir</a></li>
                    </ul>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'finance/js/finance.js' %}"></script>
    <script src="{% static 'finance/js/utils.js' %}"></script>

    <script>
        onWindowLoadingFinance()
    </script>
{% endblock %}