{% extends 'base.html' %}
{% load static %}

{% block titulo %}Dashboard{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md">
                <br>
                <h3>Maiores Receitas do Mês</h3>
                <canvas id="higher_revenues" width="250" height="200"></canvas>
            </div>
            <div class="col-md">
                <br>
                <h3>Maiores Despesas do Mês</h3>
                <canvas id="higher_expenditures" width="250" height="200"></canvas>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md">
                <br>
                <h3>Gastos por Categoria do Mês</h3>
                <canvas id="monthly_category_summary" width="250" height=50></canvas>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md">
                <br>
                <h3>Gastos por Categoria dos Últimos 12 Meses</h3>
                <canvas id="annual_category_summary" width="250" height="50"></canvas>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md">
                <br>
                <h3>Últimos 12 Meses</h3>
                <canvas id="last_twelve_months" width="500" height="200"></canvas>
            </div>
        </div>
        <br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>

    <script>
        onWindowLoading()
    </script>
{% endblock %}